@charset "utf-8";
body{background:#fff;}
a{color:#00a0e9; text-decoration:none; line-height:18px;}
a:hover{color:#013969; text-decoration:underline;}
fieldset{border-color:#cdcdcd;}
/* ------------- bootstrap ------------- */
.btn-sel:hover,
.btn-sel:focus{background-color:#f2f2f2; background-position:0 -15px; border-color:#cdcdcd;}
.btn-sel:active,
.btn-sel.active{background-color:#f2f2f2; border-color:#cdcdcd;}
.btn-default{color:#000000; background-color:#eaeaea; border-color:#cdcdcd;}
.btn-default.selectpicker{background-color:#fff;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{color:#FFF; background-color:#cdcdcd; border-color:#cdcdcd;}
.btn-close, .btn-red, .btn-blue, .btn-green, .btn-blue, .btn-orange{background:#eaeaea;}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#f2f2f2;}
.form-control{color:#000000; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#cdcdcd; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63,166,253, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63,166,253, 0.6);}
.panel-default{border-color:#cdcdcd;}
.panel-default > .panel-heading{color:#013969; background-color:#eaeaea; border-color:#cdcdcd;}
.panel-default > .panel-heading + .panel-collapse .panel-body{border-top-color:#cdcdcd;}
.panel-default > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#cdcdcd;}
.panel-main .panel-default{border-top-color:#cdcdcd; border-bottom-color:#cdcdcd;}
.panel-main .panel-default .panel-heading .panel-title a.active,
.panel-main .panel-default .panel-heading .panel-title a:hover{background:#f2f2f2;}
.nav-tabs{border-bottom-color:#cdcdcd;}
.nav-tabs > li > a{background-color:#eaeaea; border-bottom-color:#cdcdcd;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{border-color:#cdcdcd; border-bottom-color:#FFF;}
.tab-content{border-color:#cdcdcd;}
.table > thead > tr > th{font-weight:bold; color:#013969; background:#f1f3f1; border-bottom-color:#cdcdcd; border-top-color:#cdcdcd;}
.table > thead > tr > th{background:#f1f3f1; border-bottom-color:#cdcdcd;}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{background-color:#fff;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#f2f2f2;}
.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc{color:#00a0e9;}
.table > thead > tr > th.orderby.desc a.order.desc{color:#00a0e9;}
.table > thead > tr > th.orderby a.order:hover{color:#FFF!important; background:#00a0e9;}
.table > tbody > tr.selected > td{background-color:#cdcdcd;}
/* Main */

#bjui-header{background:#cdcdcd url(topbg.png);  border-bottom:2px #d6e6f2 solid; }
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:focus,
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:hover{background:#00a0e9;}
#bjui-header > #bjui-navbar-collapse.menu {background:#cdcdcd;}
#bjui-header > #bjui-navbar-collapse > .bjui-navbar-right > li > a:hover{background:#63738f;}
#bjui-hnav{background-color:#4a5b79; box-shadow:0 5px 5px rgba(187, 187, 187, 0.6); border-bottom:2px #d6e6f2 solid;}
#bjui-hnav > .bjui-hnav-toggle:focus,
#bjui-hnav > .bjui-hnav-toggle:hover{background:#00a0e9;}
#bjui-hnav > #bjui-hnav-navbar > li > a{color:#ff0000;}
#bjui-hnav > #bjui-hnav-navbar > li > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a,
#bjui-hnav > #bjui-hnav-navbar >.active > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a:focus,
#bjui-hnav > #bjui-hnav-navbar > .open > a,
#bjui-hnav > #bjui-hnav-navbar > .open > a:hover,
#bjui-hnav > #bjui-hnav-navbar > .open > a:focus{background-color:#16669e; border-color:#16669e;}
#bjui-hnav > .hnav-form .form-control{border-color:#cdcdcd;}
#bjui-hnav > .hnav-form .btn{background-color:#cdcdcd;}
#bjui-hnav > .hnav-form .btn:hover,
#bjui-hnav > .hnav-form .btn:focus{background-color:#00a0e9;}
#bjui-hnav > #bjui-hnav-navbar.menu{background:#cdcdcd;}
#bjui-hnav > #bjui-hnav-navbar.menu > li > a{border-top-color:#eaeaea;}
#bjui-sidebar.shadown{box-shadow:2px 0 5px rgba(187, 187, 187, 0.6);}
#bjui-sidebar{background:#eaeaea; border-color:#cdcdcd;}
#bjui-sidebar > .toggleCollapse{background:#f2f2f2; border-bottom:1px #cdcdcd solid;}
#bjui-sidebar > .toggleCollapse .lock{color:#00a0e9; background:#f2f2f2;}
#bjui-sidebar > .toggleCollapse .lock:hover{color:#eaeaea; background:#00a0e9;}
#bjui-sidebar-s > .collapse{background:#eaeaea; border:1px #cdcdcd solid;}
#bjui-sidebar-s > .collapse:hover{background:#00a0e9; border-color:#00a0e9;}
#bjui-splitBar{background:#eaeaea;}
#bjui-splitBarProxy{border-color:#cdcdcd; background:#eaeaea;}
/* Pages */
.bjui-pageHeader{background:#f2f2f2; border-bottom:1px #bfbfbf solid;}
.bjui-pageHeader .bjui-moreSearch{background:#eaeaea; border-bottom:1px #cdcdcd solid;}
.bjui-pageHeader .showMoreSearch:hover{color:#00a0e9;}
.bjui-pageFooter{background:#f2f2f2; border-top:1px #cdcdcd solid;}
.bjui-pageFooter > .pagination-box > ul > li > a{color:#00a0e9;}
.bjui-pageFooter > .pagination-box > ul > li > a:hover{color:#cdcdcd;}
.bjui-pageFooter > .pagination-box > ul > .selected > a,
.bjui-pageFooter > .pagination-box > ul > .selected > span,
.bjui-pageFooter > .pagination-box > ul > li > a:hover,
.bjui-pageFooter > .pagination-box > ul > .selected > span:hover{z-index:2; color:#ffffff; background-color:#cdcdcd; border-color:#f2f2f2;}
/* MaskProgress */
.bjui-maskProgress{color:#013969; background:#FAFAFA; border:2px solid #cdcdcd;}
/* Navtab */
#bjui-navtab > .tabsPageHeader > .tabsLeft,
#bjui-navtab > .tabsPageHeader > .tabsRight,
#bjui-navtab > .tabsPageHeader > .tabsMore{background-color:#eaeaea; border:1px #cdcdcd solid;}
#bjui-navtab > .tabsPageHeader > .tabsLeft:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight:hover,
#bjui-navtab > .tabsPageHeader > .tabsMore:hover{color:#eaeaea; background-color:#013969;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled{color:#999; border-color:#cdcdcd; border-bottom-color:#cdcdcd;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled:hover{background:#eaeaea;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav{border-bottom-color:#cdcdcd;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a{color:#013969; background-color:#eaeaea; border-color:#cdcdcd; border-bottom-color:#cdcdcd;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a:hover{color:#013969; background:#f2f2f2; border-color:#cdcdcd; border-bottom-color:transparent;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a{color:#013969; font-weight:bold; background:#FFF; border-color:#cdcdcd; border-bottom-color:transparent;}
#bjui-navtab > .tabsMoreList{background:#eaeaea; border-color:#cdcdcd;}
#bjui-navtab > .tabsMoreList > li > a:hover{color:#013969; background:#f2f2f2;}
#bjui-navtab > .tabsMoreList > li.active > a{font-weight:bold; background:#f2f2f2;}
#bjui-navtab > .tabsPageContent{background:#fefefe; border-color:#cdcdcd;}
/* Dialog */
.bjui-dialog{background:#eaeaea; border:1px #DDD solid;}
.bjui-dialog.dialogShadow{-webkit-box-shadow:0 3px 9px rgba(187, 187, 187, 0.6); box-shadow:0 3px 9px rgba(187, 187, 187, 0.6);}
.bjui-dialog > .dialogHeader{background:#f2f2f2; border-bottom:1px #cdcdcd solid;}
.bjui-dialog > .dialogHeader a{color:#013969 !important;}
.bjui-dialog > .dialogHeader a:hover{color:#00a0e9 !important;}
.bjui-dialog > .dialogHeader h1{color:#013969;}
.bjui-dialog > .dialogContent .bjui-pageHeader{margin-bottom:0; border:1px #cdcdcd solid; border-bottom:none;}
.bjui-dialog > .dialogContent .bjui-pageContent{background-color:#fff; border:1px #cdcdcd solid;}
.bjui-dialog > .dialogContent .bjui-pageFooter{border:1px #cdcdcd solid; border-top:none;}
/* Dialog resizable */
.bjui-resizable{border-color:#cdcdcd; background:#eaeaea;}
/* Taskbar */
#bjui-taskbar{background:#013969;}
#bjui-taskbar > .taskbarContent > ul > li{background:#eaeaea;}
#bjui-taskbar > .taskbarContent > ul > li > .taskbutton{color:#013969;}
#bjui-taskbar > .taskbarContent > ul > li.selected,
#bjui-taskbar > .taskbarContent > ul > li:hover{background:#f2f2f2;}
#bjui-taskbar > .taskbarContent > ul > li.selected > .taskbutton,
#bjui-taskbar > .taskbarContent > ul > li:hover > .taskbutton{color:#00a0e9;}
#bjui-taskbar > .taskbarContent > ul > li > .close{color:#cdcdcd;}
#bjui-taskbar > .taskbarContent > ul > li > .close:hover{color:#FF0000;}
#bjui-taskbar > .taskbarLeft, #bjui-taskbar > .taskbarRight{background:#eaeaea;}
#bjui-taskbar > .taskbarLeft:hover,
#bjui-taskbar > .taskbarRight:hover{color:#FFF; background:#013969;}
#bjui-taskbar > .taskbarLeft.disabled,
#bjui-taskbar > .taskbarRight.disabled{color:#999; background:#eaeaea;}
#bjui-taskbar > .taskbarLeft.disabled:hover,
#bjui-taskbar > .taskbarRight.disabled:hover{color:#999; background:#eaeaea;}
/*  datagrid */
.bjui-datagrid .datagrid-title{color:#013969; background-color:#f2f2f2;}
.bjui-datagrid .datagrid-toolbar{background-color:#eaeaea;}
.bjui-datagrid .table > thead > tr > th:first-child{border-left-color:#eaeaea;}
.bjui-datagrid .datagrid-box-h{background-color:#f2f2f2; border-bottom-color:#cdcdcd;}
.bjui-datagrid .datagrid-box-f{background-color:#eaeaea;}
.bjui-datagrid .datagrid-box-f .table > thead > tr > th .datagrid-calcbox{color:#00a0e9; background-color:#f2f2f2;}
.bjui-datagrid .table > tbody > tr > td.datagrid-linenumber-td{color:#00a0e9;}
.bjui-datagrid .table.table-hover > tbody > tr:hover > td.datagrid-linenumber-td{background-color:#f2f2f2;}
.bjui-datagrid .table > tbody > tr.datagrid-hover > td{background-color:#f2f2f2;}
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn.active,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:focus{background-color:#00a0e9;}
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{color:#00a0e9;}
.bjui-datagrid .table > thead > tr > th.filter-active > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{background-color:#00a0e9;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th:hover{background-color:#f2f2f2;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th > div > .datagrid-label > i{color:#00a0e9;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a{color:#013969;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a:hover,
.bjui-datagrid > .datagrid-menu-box > ul > li.active > a{background-color:#cdcdcd;}
.bjui-datagrid .datagrid-filter-box fieldset > span input{border-color:#cdcdcd;}
.bjui-datagrid .datagrid-showhide-box > li > a{color:#013969;}
.bjui-datagrid .datagrid-showhide-box > li > a:hover{background-color:#cdcdcd;}
.bjui-datagrid .table > thead > tr > th.datagrid-sortable:hover a:hover{background-color:#00a0e9;}
.bjui-datagrid .table > tbody > tr.datagrid-selected-tr > td{background-color:#cdcdcd !important;}
.bjui-datagrid .table > tbody > tr > td.datagrid-td-selected{border-color:#00a0e9;}
.bjui-datagrid .table > tbody > tr > td.datagrid-td-selected-drag{border-color:#d285e5;}
.bjui-datagrid > .datagrid-paging-box{background-color:#f2f2f2;}
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li > a:focus{color:#00a0e9;}
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:focus,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:hover{background-color:#cdcdcd;}
.bjui-datagrid > .resizeProxy{background-color:#00a0e9;}
.datagrid-dialog-edit-form > p:hover{background-color:#eaeaea;}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#cdcdcd;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#FFF; background:#013969;}
/* Alertmsg */
.bjui-alert{background:#eaeaea;}
.bjui-alert > .alertContent .alertInner > .msg{border-top: 1px #fefefe solid;}
.bjui-alert > .alertContent > .info > .alertInner{border-color:#cdcdcd;}
.bjui-alert > .alertContent > .info > .alertInner > h1{color:#013969; background-color:#f2f2f2; border-bottom:1px #005094 solid;}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#eaeaea; border:1px solid #cdcdcd;}
#bjui-contextmenu li{color:#013969; background-color:transparent;}
#bjui-contextmenu li:hover{color:#fff; background-color:#cdcdcd;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default; background-color:transparent;}
#bjui-contextmenu li.diver{ border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Calendar */
#bjui-calendar{border:1px solid #cdcdcd;}
#bjui-calendar > .main > a.close{color:#cdcdcd;}
#bjui-calendar > .main > a.close:hover{color:#FF0000;}
#bjui-calendar > .main > .head{background:#f2f2f2; border:1px solid #e3dced;}
#bjui-calendar > .main > .body{border:1px solid #e3dced;}
#bjui-calendar > .main > .foot{background:#eaeaea; border:1px solid #e3dced;}
#bjui-calendar > .main > .body > .days > dd.slt{background:#f2f2f2; border:1px solid #cdcdcd;}
#bjui-calendar > .main > .body > .days > dd:hover{border:1px solid #cdcdcd;}
#bjui-calendar > .main > .body > .days > dd.other{color:#cdcdcd;}
#bjui-calendar > .main > .foot > .time td{border:1px solid #cdcdcd;}
#bjui-calendar > .main > .foot > .time .up:hover,
#bjui-calendar > .main > .foot > .time .down:hover{color:#FFF; background:#013969;}
#bjui-calendar > .main > .tm > ul{background-color:#eaeaea; border:1px solid #cdcdcd;}
#bjui-calendar > .main > .tm > ul > li:hover{background:#f2f2f2;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:#00a0e9;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#FFF; background:#013969;}
/* Lookup */
.bjui-lookup:hover{color:#FFF; background:#013969;}
/* Tags */
.bjui-tags > .label-tag{color:#cdcdcd; background-color:#eaeaea;}
.bjui-tags > .label-tag:hover,
.bjui-tags > .label-tag:focus{background-color:#f2f2f2;}
.bjui-tags > .tags-menu > .tags-highlight{background-color:#f2f2f2;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#eaeaea;}

/* ------- plugins ------- */
/* iCheck */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/* zTree */
.ztree li a.faicon{color:#013969;}
.ztree li a:hover{color:#00a0e9;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#f2f2f2; color:black; border:1px #cdcdcd solid;}
.ztree li a.curSelectedNode_Edit{background-color:#f2f2f2; color:black; border:1px #cdcdcd solid;}
.ztree li a.tmpTargetNode_inner{background-color:#f2f2f2; color:white; border:1px #cdcdcd solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #cdcdcd dotted;}
ul.tmpTargetzTree{background-color:#f2f2f2;}
/* uploadify */
.uploadify-button{color:#013969 !important; background-color:#eaeaea !important; border-color:#cdcdcd !important;}
.uploadify:hover .uploadify-button{color:#FFF !important; background-color:#cdcdcd !important; border-color:#cdcdcd !important;}

#bjui-hnav #bjui-hnav-navbar{background-color:#eaeaea; }
#bjui-hnav #bjui-hnav-navbar > li{background-color:#eaeaea; border-top:1px #fff solid; border-right:1px #d7d7d7 solid; border-left:1px #F0F6FA solid;}
#bjui-hnav #bjui-hnav-navbar > li:hover{background-color:#f3f8fc;}
#bjui-hnav #bjui-hnav-navbar >.active > a,
#bjui-hnav #bjui-hnav-navbar >.active > a:focus,
#bjui-hnav #bjui-hnav-navbar > .open > a,
#bjui-hnav #bjui-hnav-navbar > .open > a:focus{color:#184fb0}
#bjui-hnav #bjui-hnav-navbar > li.open,
#bjui-hnav #bjui-hnav-navbar > li.open:hover,
#bjui-hnav #bjui-hnav-navbar > li.active,
#bjui-hnav #bjui-hnav-navbar > li.active:hover{background-color:#d6e6f2; border-color:#d6e6f2;}
/*流程单样式*/
.mrtj{margin-top:2px; margin-bottom:2px;padding-top:5px;word-break:breal-all;BORDER: #8dc3ee 1px solid;BACKGROUND: #dbecfa;line-height:20px;width:600px}
.xzrw{margin-top:2px; margin-bottom:2px;width:600px;padding-top:5px;word-break:breal-all;BORDER: #8dc3ee 1px solid;BACKGROUND: #dbecfa;line-height:20px}
/*编写意见*/
.tdTitle2{ background:#eaeaea; color:#333333; font-size:12px; text-align:center   }
.SolidB{ border-bottom:1px Solid #8dc3ee;}
.mouse{ cursor:hand;}
.line25{ margin-top:0px}
.line25 td{ padding-left:10px; line-height:25px}
.line23{ margin-top:0px}
.line23 td{ padding-left:10px; line-height:23px}
.border5 td{ line-height:25px; border:1px solid #cdcdcd; border-collapse:collapse; padding:3px; font-size:14px}
.border5{border:1px solid #cdcdcd; border-collapse:collapse;}
.borderL{ border-left:1px #8dc3ee solid}
.borderL{ border-left:1px #8dc3ee solid}
.borderyj{border-top:1px solid #8dc3ee; border-bottom:1px solid #8dc3ee; border-left:1px solid #8dc3ee; border-right:1px solid #8dc3ee;  border-collapse:collapse;}
.line28{ margin-top:0px}
.line28 td{ padding-left:10px; line-height:28px}
.cycy p{ line-height:43px;font-size:14px; cursor:pointer}
.ty p{ line-height:22px; font-size:14px;cursor:pointer}
.border5 td p span{ font-size:14px;cursor:pointer}